body{
    background-color: rgb(155, 128, 92);
}
h1{
    text-align: center;
    font-size: xxx-large;
    font-weight: bolder;
    font-family: cursive;
    color: white;
}

#colorName{
    text-align: center;
    font-size: xxx-large;
    margin-top: 60px;
    color: white;
}

#box{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}

.btn{
    height: 170px;
    width: 170px;
    border-radius: 50%;
    cursor: pointer;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

#re{
    text-align: center;
    margin-top: 20px;

}

#replay{
    height: 60px;
    width: 120px;
    font-size: larger;
    text-align: center;
    cursor: pointer;
    background-color: #491730;
    color: white;
}